<!DOCTYPE html>
<html>

<head>

<style>
#table, #codes {
  text-align: center;
}

#details {
  font: 12px "courier";
  position: absolute;
  bottom: 0;
}
</style>
<script>
function getRequester(res) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', res, true);
  return xhr;
}
function getCurrencies() {
  var xhr = getRequester("/supported_currencies")
  xhr.onreadystatechange = function(e) {
    if (this.readyState == 4 && this.status == 200) {
      var json = JSON.parse(this.responseText);
      
      var table = document.getElementById('currencies');
      var codes = document.getElementById('codes');
      var codeRow = codes.insertRow(-1);
        
      var nCodes = 0;
      var codesPerRow = 20;
      for (code in json) {
        console.log(json[code]);
        if ((nCodes + 1) % codesPerRow == 0) {
          codeRow = codes.insertRow(-1);
          nCodes = 0;
        } 

        var a = document.createElement('a');
        a.setAttribute('href', "#" + json[code].code)
        a.innerHTML = json[code].code;
        var codeCell = codeRow.insertCell(nCodes);
        codeCell.appendChild(a);
        nCodes++;

        var row = table.insertRow(-1);
        var one_dollar = row.insertCell(0);
        var currencyCode = row.insertCell(1);
        var currency = row.insertCell(2);
        var equals = row.insertCell(3);
        var btc = row.insertCell(4);
        var equals2 = row.insertCell(5);
        var satoshis = row.insertCell(6);
        

        one_dollar.innerHTML = "1.00"
        var codeString = "<a id=\"" + code + "\">" + code + "</a>";
        currencyCode.innerHTML = codeString;
        console.log(json[code]);
        currency.innerHTML = json[code].currency;
        equals.innerHTML = "=";
        equals2.innerHTML = "=";
        satoshis.innerHTML = json[code].satoshis + " Satoshis";
        btc.innerHTML = "฿" + json[code].satoshis / 100000000.0;
      }
    }
  };
  xhr.send();
}

function getIdData() {
  var xhr = getRequester('/id');
  xhr.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var json = JSON.parse(this.responseText);
      var twitter = document.getElementById('twitter');
      var btc_address = document.getElementById('btc_address');
      var twitter_a = document.createElement('a');
      twitter_a.setAttribute('href', "http://twitter.com/" + json.twitter);
      twitter_a.innerHTML = json.twitter;
      btc_address_a = document.createElement('a');
      btc_address_href = "bitcoin:" + json.btc_address + "?amount=" + json.amount
      btc_address_a.setAttribute('href', btc_address_href);
      btc_address_a.innerHTML = '1F2FiVoXBNbcvyCsfcqVNgLq';
      twitter.appendChild(twitter_a);
      btc_address.appendChild(btc_address_a);
    } 
  }
  xhr.send();
}

window.onload = function() {
  getCurrencies();
  getIdData();
}

</script>
</head>

<body>
<h1 style="text-align:center;">How Many Satoshis Can Your Dollar Buy?</h1>
<table id="codes" align="center">
</table>
<table id="currencies" align=center>
</table>

<div id="details">
  <p id="twitter">@</p>
  <p id="btc_address">฿</p>
  <p id="source"><a href="https://github.com/Autumn/satoshis">source</a></p>
</div>
</body>
<html>


